<style>
  h2.text-center {
    font-size: 3rem; 
    color: #30F9B2; 
  }
  .btn-primary {
    background-color: #30F9B2;
    border-color: #30F9B2; 
  }
</style>

<div class="container">
  <h2 class="text-center mb-4">運動記録の編集</h2> 
 
 exercise_logs/edit
 </div>